@media (max-width: 1300px) {
    .center {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 1023px) {
    .seasons {
        column-gap: 50px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 735px;
        background-image: url(img/top-back_mobile.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 32px;
            line-height: 39px;
            padding-top: 180px;
            width: 100%;
            text-align: center;
        }
    }

    .text {
        font-size: 14px;
        line-height: 22px;

        &_header {
            width: 100%;
            text-align: center;
            margin-bottom: 33px;
        }

        &_small {
            text-align: center;
        }
    }

    .games {
        height: 1221px;

        &__content {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 32px;
        }
    }

    .seasons {
        height: 800px;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            &_right {
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
    }

    .heading {
        margin-top: 51px;
        text-align: center;
    }
}

@media (max-width: 410px) {
    .seasons {
        height: 650px;
    }

    .heading {
        font-size: 32px;
        line-height: 39px;
    }

    .text {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 270px) {
    .header {
        height: 535px;

        &__title {
            font-size: 18px;
            line-height: 24px;
            padding-top: 100px;
        }
    }

    .text {
        font-size: 12px;
        line-height: 18px;
    }

    .button {
        width: 100%;
    }

    .games {
        height: 653px;

        &__content {
            padding-top: 0;
        }

        &__item {
            height: 150px;
        }
    }

    .seasons {
        height: 653px;
    }
}